<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>
        <h2>Welcome to the CSE 340 Service Network!</h2>
        <ul>
            <% categories.forEach(category=> { %>
                <a href="/category/<%= category.category_id %>">
                    <%= category.category_name %>
                </a>
                <% }) %>

        </ul>
        <% if (user && user.role_name==='admin' ) { %>
            <p><a href="/new-category">Add a New Category</a></p>
            <% } %>
        
        <!-- Put your page-specific content here -->
    </main>
    <%- include('partials/footer') %>