<%- include('partials/header') %>
<main>
    <h1>
        <%= title %>
    </h1>
    <h2>Upcoming Service Projects</h2>
    <ul>
        <% projects.forEach(project => { %>
            <li><%= new Date(project.date).toDateString() %>:
                 <%= project.title %> (<%= project.organization_name %>)
                </li>
            <% }); %>
    </ul>
    <!-- Put your page-specific content here -->
</main>
<%- include('partials/footer') %>